#!/usr/bin/env bash

function resize() {
	# Find, resize and move a window
	WND=$(xdotool search --onlyvisible --name $1)
	if [ ! -z $WND ]; then
		xdotool windowsize $WND 2560 1440
		xdotool windowmove $WND 700 200
	else
		echo "Windows '$1' not found"
	fi
}

# Determine size of a file or total size of a directory
function fs() {
  if du -b /dev/null >/dev/null 2>&1; then
    local arg=-sbh
  else
    local arg=-sh
  fi
  if [[ -n "$@" ]]; then
    du $arg -- "$@"
  else
    du $arg .[^.]* ./*
  fi
}

# Install certificate from the address
function getcert() {
  if [ -z "$1" ]; then
    echo "Usage: getcert <hostname> [port]"
    return 1
  fi

  local HOST=$1
  local PORT=${2:-443}
  local CERT_PATH="/usr/local/share/ca-certificates/$HOST.crt"

  echo "Fetching certificate from $HOST:$PORT..."
  if ! echo | openssl s_client -showcerts -connect "$HOST:$PORT" 2>/dev/null | openssl x509 -outform=PEM | sudo tee "$CERT_PATH" > /dev/null; then
    echo "Failed to fetch or save the certificate from $HOST:$PORT"
    return 1
  fi

  echo "Updating CA certificates..."
  if ! sudo update-ca-certificates; then
    echo "Failed to update CA certificates."
    return 1
  fi

  echo "Certificate from $HOST:$PORT added successfully and trusted."
}

function mkrsa() {
  if [[ -z "$1" || -z "$2" ]]; then
    echo "Usage: mkrsa <key_name> <comment>"
    return 1
  fi
  ssh-keygen -t rsa -b 4096 -N "" -C "$2" -f "$HOME/.ssh/${1}_rsa"
}

function mked() {
  if [[ -z "$1" || -z "$2" ]]; then
    echo "Usage: mked <key_name> <comment>"
    return 1
  fi
  ssh-keygen -t ed25519 -N "" -C "$2" -f "$HOME/.ssh/${1}_ed"
}

# Set/Unset Proxy
function onproxy() {
  export HTTPS_PROXY=$SET_HTTPS_PROXY
  export NO_PROXY=$SET_NO_PROXY
}

function offproxy() {
  unset HTTPS_PROXY
  unset NO_PROXY
}


# Create a data URL from a file
function dataurl() {
  local mimeType=$(file -b --mime-type "$1")
  if [[ $mimeType == text/* ]]; then
    mimeType="${mimeType};charset=utf-8"
  fi
  echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')"
}

# Create a playlist
function mkplaylist() {
  find -type f -iname "*.mp4" -or -iname "*.mp3" -or -iname "*.flac" -or -iname "*.m4a" | sort >playlist.m3u
}

# curl/jq
function jcurl() {
  curl -s $1 | jq
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
  if [ $# -eq 0 ]; then
    open .
  else
    open "$@"
  fi
}

function btar() {
   tar -cz "$1" | base64
}

function buntar() {
   base64 -d | tar -xzf - -C "$1"
}

# `c` with no arguments opens the current directory, otherwise opens the given

function psid() {
  ps -ef | grep "$1" | awk '{print $2}' | head -n -2
}

# Python
function venv() {
    python3 -m venv "$1"
}

# Node.js
function nxa() {
  TARGET=$1
  shift
  nx run-many --target=$TARGET --all --parallel=3 "$@"
}

function nxf() {
  TARGET=$1
  shift
  nx affected --target=$TARGET --parallel=3 --output-stream "$@"
}

[[ -f ~/.preexec ]] && . ~/.preexec
