[alias]
  ar = remote add
  vr = remote -v
  co = checkout
  br = branch
  brls = branch --sort=-committerdate
  brc = rev-parse --abbrev-ref HEAD

  ci = commit
  cia = commit --amend
  cie = commit --allow-empty -m empty
  cin = commit --no-verify

  re = restore
  res = restore --staged
  resf = restore --source=
  uc = reset --soft HEAD^

  st = status
  unstage = reset HEAD --
  last = log -1 HEAD
[init]
  defaultBranch = master
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[branch]
  sort = -committerdate
[user]
	email = 
	name = 
