[alias]
        ar = remote add
        vr = remote -v
        co = checkout
        br = branch
        brls = branch --sort=-committerdate

        ci = commit
        cie = commit --allow-empty -m empty
        cin = commit --no-verify

        re = restore
        res = restore --staged
        uc = reset --soft HEAD^

        st = status
        unstage = reset HEAD --
        last = log -1 HEAD
[init]
        defaultBranch = master
[pull]
        rebase = true
